section#about {
  background-color: var(--color-intro-card-bg);
  color: var(--color-intro-card-fg);
  text-align: left;
}

.resume-container, .cv-container {
  text-align: center;
  display: none;
}

.resume-container object, .cv-container object {
  padding: 2vh;
  width: 45vw;
  height: 100vh;
}

section.main :is(h1, h2, h3, h4, h5, h6) {
  color: var(--color-text) !important;
  font-weight: bold;
}

section.button-container {
  text-align: center;
}

section.button-container button {
  margin: 2%;
  color: black;
  background-color: var(--color-text);
}

header.major h2 {
  font-weight: bold;
  color: white;
  text-align: center;
}

section#about h2 {
  color: rgb(154, 0, 111) !important;
}