.paper-title {
  color: rgb(42, 91, 255);
  font-weight: bold;
}

section#research h2 {
    color: slateblue;
}

section#research {
    background-color: lightskyblue;
    color: black;
    text-align: left;
}

section#research .subheading {
    color: teal;
}

.author-highlight {
    font-weight: bold;
    /* color: rgb(42, 91, 255); */
}

section#research a:hover {
    color: inherit;
    background-color: rgb(255, 255, 255, 0.2);
    border-color: transparent;
}

span p {
   display: inline; 
}

li.award {
    color: red;
}

ul.venue-list, ul.award-list {
    list-style: none;
    padding: 0;
}

ul.venue-list li, ul.award-list li {
    padding: 0;
}