#header, #header.alt {
  padding: 4em 5em 1em 5em;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#header h1 {
  color: #226f54;
}

a[rel="me"] {
  display: none;
}

#header .logo {
  display: block;
  margin: 0 auto 1.5em auto;
  width: calc(10vh + 10vw);
  height: calc(10vh + 10vw);
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

#header .logo img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: unset !important;
  object-fit: cover;
  object-position: center;
  transform: scale(1.25);
  transform-origin: center;
}

.playful-logo-headline {
  height: 1.9em;
  vertical-align: middle;
  transform: translate(-15%, 35%);
}

.playful-link-headline {
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

@media screen and (max-width: 739px) {
  #header .logo {
    margin: 0 auto 1.25em auto;
    width: 100%;
    height: 100%;
  }

  .icons li {
    margin: 2%;
    padding: 0;
  }
}
