#header, #header.alt {
  padding: 4em 5em 1em 5em;
}

#header h1 {
  color: #226f54;
}

a[rel="me"] {
  display: none;
}

.logo img {
  border-radius: 50%;
  height: calc(10vh + 10vw);
  width: calc(10vh + 10vw);
}

.playful-logo-headline {
  height: 1.9em;
  vertical-align: middle;
  transform: translate(-15%, 35%);
}

.playful-link-headline {
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

@media screen and (max-width: 739px) {
  .logo img {
    height: auto;
  }

  .icons li {
    margin: 2%;
    padding: 0;
  }
}
