#header, #header.alt {
  padding: 4em 5em 1em 5em;
}

a[rel="me"] {
  display: none;
}

.logo img {
  border-radius: 50%;
  height: calc(10vh + 10vw);
  width: calc(10vh + 10vw);
}

@media screen and (max-width: 739px) {
  .logo img {
    height: auto;
  }

  .icons li {
    margin: 2%;
    padding: 0;
  }
}